{% comment %}
  Renders a swatch component.
  Accepts:
  - swatch: {Object} a swatch object
  - shape: {String} swatch shape. Accepts 'square', defaults to circle.

  Usage:
  {% render 'swatch',
    swatch: value.swatch
    shape: 'square'
  %}
{% endcomment %}

{%- liquid
  # Use passed swatch_value if available, else fallback to swatch.image or swatch.color
  if swatch_value != null
    assign final_swatch_value = swatch_value
    assign final_swatch_focal_point = swatch_focal_point
  else
    assign final_swatch_value = null
    assign final_swatch_focal_point = null

    if swatch.image
      assign image_url = swatch.image | image_url: width: 100
      assign final_swatch_value = 'url(' | append: image_url | append: ')'
      assign final_swatch_focal_point = swatch.image.presentation.focal_point
    elsif swatch.color
      assign final_swatch_value = 'rgb(' | append: swatch.color.rgb | append: ')'
    endif
  endif
-%}
<span
  {% if final_swatch_value %}
    class="swatch{% if shape == 'square' %} swatch--square{% endif %} {% if swatch_style == 'image' %} swatch--image{% endif %}"
    style="--swatch--background: {{ final_swatch_value }};{% if final_swatch_focal_point %} --swatch-focal-point: {{ final_swatch_focal_point }};{% endif %}"
  {% else %}
    class="swatch swatch--unavailable{% if shape == 'square' %} swatch--square{% endif %}"
  {% endif %}
></span>
{% if template.name == "product" %}
<style>
  .swatch--image.swatch {
    aspect-ratio: 2/1 !important;
    width: 100px !important;
  }

  .popular-products__container > .swatch {
     aspect-ratio: 1/1;
     width: 16px;
  }
</style>
{% endif %}
{% if template.name == "index" or template.name == "collection"%}
<style>
  .swatch {
    aspect-ratio: 1/1;
    width: 16px;
  }
</style>
{% endif %}
