<h1>Main Footer</h1>

{% schema %}
    {
        "name": "Footer Main",
        "class": "footer-main",
        "settings": [

        ],
        "presets": [
            {
                "name": "Footer Main"
            }
        ],
        "enabled_on": {
            "groups": ["footer"]
        }
    }
{% endschema %}
