<div
        id="quick-view-modal"
        class="fixed top-0 left-0 h-full bg-white p-6 transform -translate-x-[250px] w-[250px] transition-transform duration-300 ease-in-out"
      >
        <div class="flex justify-between items-center mb-6">
          <span class="text-[14px] font-bold text-gray-900">Menu</span>
          <button id="quick-view-close" class="text-gray-700 text-[14px] font-semibold transition-transform duration-300 ease-in-out hover:rotate-90 cursor-pointer" aria-label="Close mobile menu">×</button>
        </div>
       <h1>Modal</h1>
</div>


<script>
   document.addEventListener('DOMContentLoaded', function () {
  
});


</script>
{% schema %}
{
  "name": "Quick View Modal",
  "settings": [],
  "presets": [{
    "name": "Quick View Modal",
    "category": "Product"
  }]
}
{% endschema %}
