  .benefits__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }

  .benefits__content {
    flex: 1 1 calc(25% - 2rem); /* Max 4 per row */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    max-height: 86px;
    gap: 12px;
  }

  .benefits__icon-container {
    width: 86px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--secondary-bg-hover);
  }

  .benefit-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    }

   .benefits___heading {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   }
  .benefits__title {
    color: var(--secondary-heading);
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0.25rem;
  }

  .benefits__subtitle {
    font-size: 14px;
    color: var(--secondary-subtitle);
  }

  /* Vertical alignment classes */
  .align-left .benefits___heading {
    align-items: flex-start;
  }

  .align-middle .benefits___heading {
    align-items: center;
  }

  .align-right .benefits___heading {
    align-items: flex-end;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .benefits__content {
      flex: 1 1 calc(50% - 2rem);
      flex-direction: column;
    }

    .benefits__icon-container {
      height: 86px;
    }

    .benefits__content {
      max-height: 200px;
    }
  }