 :root{
    --primary-color: #181D25;
    --primary-subtitle: #4E5562;
    --primary-bg: #222934;
    --primary-bg-hover: #333D4C;
    --primary-border : #E0E5EB;
    --heading-color: #FFFFFF;
    --subtitle-color: #CAD0D9;
    --secondary-bg:#FFFFFF;
    --secondary-bg-hover:#F5F7FA;
    --secondary-border:#EEF1F6;
    --secondary-heading:#181D25;
    --secondary-text:#222934;
    --secondary-subtitle:#4E5562;
    --primary-btn-bg:#F55266;
    --primary-btn-text: #FFFFFF;
    --warning-color : #FC9231;
    --discount-price-text : #9CA3AF;
    --input-border: #CAD0D9;
    --input-place-holder: #6C727F;
}
  